*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
  font-family: Arial;
  /*padding: 10px;*/
  /*background: #f1f1f1;*/
  background: rgb(20,20,20);
  color: white;
}

/* Header/Blog Title */
.header {
  background: rgb(15,15,15);
  color: orange;
  height: 95px;
}
#JP{
 font-size: 250%;
}
#Plogos{
	float:right; margin-right: 25px; margin-top:20px; width: 40px; height:40px;
}

.header img{
	float: left;
}

.header h1 {
  font-size: 50px;
}
.header p {
  font-size: 12px;
}

/* Style the top navigation bar */
.topnav {
  background: rgb(20,20,20);
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 2px solid black;
}

/* Style the topnav links */
.topnav a {
  /*float: left;*/
  /*display: block;*/
 /* display: inline;*/
  color: #f2f2f2;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

.topnav ul { 
    padding: 5px;
    list-style-type: none;
}

.topnav li {
    display: inline;
    padding: 6px;   
}

.topnav li:hover {
	/*border-bottom: 2px solid rgb(0,255,000);*/
	border-bottom: 2px solid orange;
	background: black/*rgb(50,50,50)*/;
}


/* Change color on hover*/
.topnav a:hover {
  /*background-color: #ddd;*/
  /*color: rgb(0,255,000);*/
  color: orange;
  
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
 /* background-color: #f1f1f1;*/
  background: rgb(20,20,20);
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  /*background-color: #aaa;*/
  background: rgb(40,40,40);
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  /*background-color: white;*/
  background: rgb(15,15,15);
  padding: 20px;
  margin-top: 20px;
  margin-right: 5px;
}

.cardleft{
  background: rgb(15,15,15);
  padding: 20px;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 10px;
  border: 3px double orange;
}
.cardprojects{
  background: rgb(15,15,15);
  padding: 20px;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 10px;
  border-radius: 10px;
  border: 3px double orange;
}
.cardprojects h2, .cardprojects h5, .cardprojects h3{
	color: orange;
}

.cardleft h2, .cardleft h5{
	color: orange;
	text-align: center;
}
.card h2, h5, h3{
	color: orange;
	
}
.card{
  border-radius: 1px;
  border: 3px double orange;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  width: 100%;
  /*background: #ddd;*/
  background: rgb(15,15,15);
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

.header{
   height: auto;
}
#logo{
  float: none;
  width: 100%;
}

.cardleft{
  background: rgb(15,15,15);
  padding: 20px;
  margin-top: 20px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 10px;
  border: 3px double orange;
}
.cardprojects{
  background: rgb(15,15,15);
  padding: 20px;
  margin-top: 20px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 10px;
  border: 3px double orange;
}
.topnav li {
    display: block;
    padding: 6px;   
}

.cardleft img{
max-width: 100%;
}

#selfie{
max-width: 100%;
}
#Plogos, #WDL {
 float: none;
 max-width:100%;
}

#JP{
font-size: 11vw;
}
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
	float: none;
	width: 100%;
}
}